body{
    background-color: #CCDCFD;
    margin: 0;
    text-align: left;
    font-family: Merriweather,Sacramento,Century Gothic, sans-serif;
}
h1{
    margin-top: 0;
    font-family: Montserrat;
    font-size: 25px;
    color: rgb(161, 25, 70);
}
h2{
    font-family: Montserrat;  
    color: rgb(161, 25, 70);
}
h3{
    font-family: Montserrat;  
}
.shoe{
    width: 350px;
}
.support{
    border-radius: 50%;
    width:7%;
}
.send{
    width:3%;
}
.mental-illness{
    width:11%;
    border-radius: 50%;
    background-color: white;
    float: left; 
    margin:0px 100px 10px 250px;
}
.center {
    text-align: center;
    margin:0px 10px 10px 650px;
}
.anxiety{
    width:11%;
    border-radius: 80%;
    background-color: white;
    margin:0px 300px 0px 0px;
    float: right;
}
.script{
    height: 100px;
    width: 100px;   
}
.poem{
    text-align: left;
    width: 30%;
    margin:0px auto 100px auto;
    line-height: 2;
}
.top-container{
    /* background-color: #CCDCFD; */
    text-align: center;
    position: relative;
    padding-top: 100px; 
    height:250px; 
    font-size: 2px;
}
.middle-container{
    text-align: center;
}
.trauma{
    text-align: center;
}
.places{
    text-align: right;
    margin:0px auto 100px auto;
}
.bottom-container{
    text-align: center;
}
