body{
    color: #000000;
    /* background-color: #caf7ef; */
    margin: 0;
    text-align: left;
    font-family: Merriweather,Sacramento,Century Gothic, sans-serif;
}
h1{
    margin-top: 0;
    font-family: Montserrat;
    font-size: 2.0rem;
    color: rgb(161, 25, 70);
}
h2{
    font-family: Montserrat;  
    color:  #10362f;
    font-size: 1.5rem;
    padding-bottom: 10px;
}
h3{
    font-family: Montserrat;  
}
hr{
    border-top: 5px dotted rgb(29, 29, 29);
    border-bottom: none;
    width: 4%;
    margin: 80px auto;
}
.p{
    line-height: 2;
}

.btn {
    background: #1ba376;
    background-image: -webkit-linear-gradient(top, #1ba376, #136b58);
    background-image: -moz-linear-gradient(top, #1ba376, #136b58);
    background-image: -ms-linear-gradient(top, #1ba376, #136b58);
    background-image: -o-linear-gradient(top, #1ba376, #136b58);
    background-image: linear-gradient(to bottom, #1ba376, #136b58);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2fc492;
    background-image: -webkit-linear-gradient(top, #2fc492, #2a9c83);
    background-image: -moz-linear-gradient(top, #2fc492, #2a9c83);
    background-image: -ms-linear-gradient(top, #2fc492, #2a9c83);
    background-image: -o-linear-gradient(top, #2fc492, #2a9c83);
    background-image: linear-gradient(to bottom, #2fc492, #2a9c83);
    text-decoration: none;
  }
  a{
      color: #254741;
      font-family: Montserrat;
      margin:10px 20px;
      text-decoration: none;
  }
  a:hover{
      color: #caf7ef;
  }
  .copy{
      color:#caf7ef;
      font-size: 0.75rem;
  }
.intro{
    width: 23%;
    margin: auto;
    padding-top: 25px;
    line-height: 2;
}
.footer-link{
    line-height: 3;
}
.shoe{
    width: 350px;
}
.support{
    border-radius: 50%;
    width:7%;
}
.send{
    width:3%;
}
.git{
    font-family: Montserrat;  
    colour: #254741;
}
.mental-illness{
    width:11%;
    border-radius: 3%;
    /* background-color:  #8ad4da; */
    float: left; 
    margin:0px 100px 10px 250px;
}
.center {
    text-align: center;
    margin:0px 10px 10px 650px;
}
.anxiety{
    width:11%;
    background-color: white;
    margin:0px 300px 0px 0px;
    float: right;
}
.script{
    height: 100px;
    width: 100px;   
}
.poem{
    text-align: left;
    width: 30%;
    margin:0px auto 100px auto;
    line-height: 2;
}
.top-container{
    background-color: #caf7ef;
    text-align: center;
    position: relative;
    padding-top: 100px; 
    height:250px; 
    font-size: 2px;
}
.middle-container{
    text-align: center;
    margin: 100px 0;
    background-color: rgb(238, 178, 178);
}
.trauma{
    text-align: center;
}
.places{
    text-align: right;
    margin:0px auto 100px auto;
    background-color: antiquewhite;
}
.bottom-container{
    text-align: center;
    background-color: #71c0b1;
    padding: 30px 0 20px;
}
